env/
__pycache__/
*.pyc
*.db
*.sqlite3
instance/
.vscode/
.env
# Ignore node_modules (third-party packages)
node_modules/

# Ignore environment variables
.env

# Ignore Windows Zone.Identifier and similar files
*.Identifier
*.Zone.Identifier
